:root {
  --color-bg: #eaeaee;
  --color-text: #000000;
  --color-accent: #8eb6dc;
  --color-accent-hover: #6c9ac7;
  --font-base: 'Helvetica, Arial, sans-serif';
  --spacing: 1rem;
  --footer-bg: var(--color-bg);
  --footer-text: var(--color-text);
  --footer-link: var(--color-text);
  --footer-link-hover: var(--color-accent);
  --footer-accent: var(--color-accent);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-base);
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-text);
}
